<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>

<!--advertisment area-->
<section class="wrap">
    <!--ctCont-->
    <div class="IdxmainArea">
        <!--slide-->
        <div id="slide" class="swiper-container-horizontal">
            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1725px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 575px;">
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/index.html#">
                    <img src="./首页_files/slide03.jpg">
                </a>
            </div>
                <div class="swiper-slide" data-swiper-slide-index="0" style="width: 575px;">
                    <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/index.html#">
                        <img src="./首页_files/slide01.jpg">
                    </a>
                </div>
                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 575px;">
                    <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/index.html#">
                        <img src="./首页_files/slide02.jpg">
                    </a>
                </div>
                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="2" style="width: 575px;">
                    <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/index.html#">
                        <img src="./首页_files/slide03.jpg">
                    </a>
                </div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" style="width: 575px;">
                    <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/index.html#">
                        <img src="./首页_files/slide01.jpg">
                    </a>
                </div></div>
            <div class="pagination"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
        </div>
        <!--singleAd-->
        <div class="singleAd">
            <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/index.html#">
                <img src="./首页_files/sigleAd.jpg">
            </a>
        </div>
        <!--bestShop-->
        <dl class="bestShop">
            <dt>
                <strong>优秀商家推荐</strong>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop_list.html" class="fr">更多</a>
            </dt>
            <dd>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop.html">
                    <img src="./首页_files/001.jpg">
                    <h2>DM精品女装</h2>
                </a>
            </dd>
            <dd>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop.html">
                    <img src="./首页_files/002.jpg">
                    <h2>DM精品女装</h2>
                </a>
            </dd>
            <dd>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop.html">
                    <img src="./首页_files/003.jpg">
                    <h2>DM精品女装</h2>
                </a>
            </dd>
            <dd>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop.html">
                    <img src="./首页_files/004.jpg">
                    <h2>DM精品女装</h2>
                </a>
            </dd>
            <dd>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop.html">
                    <img src="./首页_files/005.jpg">
                    <h2>DM精品女装</h2>
                </a>
            </dd>
            <dd>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop.html">
                    <img src="./首页_files/006.jpg">
                    <h2>DM精品女装</h2>
                </a>
            </dd>
            <dd>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop.html">
                    <img src="./首页_files/007.jpg">
                    <h2>DM精品女装</h2>
                </a>
            </dd>
            <dd>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/shop.html">
                    <img src="./首页_files/008.jpg">
                    <h2>DM精品女装</h2>
                </a>
            </dd>
        </dl>
    </div>
    <!--asdCont-->
    <div class="IdxAsideRt">
        <!--login-->
        <div class="idxRtLogin">
            <div class="fstArea">
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/index.html#" class="userIcon">
                    <img src="./首页_files/DefaultAvatar.jpg">
                </a>
                <div class="rtInfor">
                    <p>Hi!你好</p>
                    <p class="obviousText">免费入驻，提升品牌效应！</p>
                </div>
            </div>
            <div class="secArea">
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/login.html">登录</a>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/register.html">免费注册</a>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/register.html">商户入驻</a>
            </div>
        </div>
        <dl class="idxRtAtc">
            <dt>
                <em class="obviousText">最新公告</em>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_list.html">more</a>
            </dt>
            <dd><a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_read.html">2015年12月20日系统升级通告统升级通告</a></dd>
            <dd><a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_read.html">2015年12月20日系统升级通告</a></dd>
            <dd><a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_read.html">2015年12月20日系统升级通告</a></dd>
            <dd><a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_read.html">2015年12月20日系统升级通告</a></dd>
            <dd><a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_read.html">2015年12月20日系统升级通告</a></dd>
        </dl>
        <dl class="idxRtAtc">
            <dt>
                <em>质量标准技术参数</em>
                <a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_list.html">more</a>
            </dt>
            <dd><a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_read.html">2015年12月20日系统升级通告统升级通告</a></dd>
            <dd><a href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/article_read.html">2015年12月20日系统升级通告</a></dd>
        </dl>
    </div>
</section>


</body>
</html>