<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bs.front.mapper.OrderMapper">
    <insert id="addOrder">
        insert into cms_order(order_no,order_createTime,order_countPrice) values
            (#{order_no},#{order_createTime},#{order_countPrice})
    </insert>
</mapper>