<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>找回密码</title>
    <link rel="icon" href="http://www.17sucai.com/preview/183822/2019-05-11/shopping/images/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/js/style.css">
    <script src="/js/html5.js"></script>
    <script src="/js/jquery.js"></script>
    <script>
        $(document).ready(function(){
            $("nav .indexAsideNav").hide();
            $("nav .category").mouseover(function(){
                $(".asideNav").slideDown();
            });
            $("nav .asideNav").mouseleave(function(){
                $(".asideNav").slideUp();
            });
        });
    </script>

    <style>
        span {color: red}
    </style>
</head>
<body>
<!--header-->
<header>
    <!--topNavBg-->
    <div class="topNavBg">
        <div class="wrap">
            <!--topLeftNav-->
            <ul class="topLtNav">
                <li><a href="" class="obviousText">亲，请登录</a></li>
                <li><a href="">注册</a></li>
                <li><a href="">移动端</a></li>
            </ul>
            <!--topRightNav-->
            <ul class="topRtNav">
                <li><a href="">个人中心</a></li>
                <li><a href="" class="cartIcon">购物车<i>0</i></a></li>
                <li><a href="" class="favorIcon">收藏夹</a></li>
                <li><a href="">商家中心</a></li>
                <li><a href="" class="srvIcon">客户服务</a></li>
                <li><a href="">联盟管理</a></li>
            </ul>
        </div>
    </div>
    <!--logoArea-->
    <div class="wrap logoSearch">
        <!--logo-->
        <div class="logo">
            <h1><img src="/img/lantian.png"></h1>
        </div>
        <!--search-->
        <div class="search">
            <ul class="switchNav">
                <li class="active" id="chanpin">产品</li>
                <li id="shangjia">商家</li>
                <li id="zixun">搭配</li>
                <li id="wenku">文库</li>
            </ul>
            <div class="searchBox">
                <form>
                    <div class="inputWrap">
                        <input type="text" placeholder="输入产品关键词或货号">
                    </div>
                    <div class="btnWrap">
                        <input type="submit" value="搜索">
                    </div>
                </form>
                <a href="" class="advancedSearch">高级搜索</a>
            </div>
        </div>
    </div>
    <!--nav-->
    <nav>
        <ul class="wrap navList">
            <li class="category">
                <a>全部产品分类</a>
                <dl class="asideNav indexAsideNav" style="display: none;">
                    <dt><a href="">女装</a></dt>
                    <dd>
                        <a href="">夏装新</a>
                        <a href="">连衣裙</a>
                        <a href="">T恤</a>
                        <a href="">衬衫</a>
                        <a href="">裤子</a>
                        <a href="">牛仔裤</a>
                        <a href="">背带裤</a>
                        <a href="">短外套</a>
                        <a href="">时尚外套</a>
                        <a href="">风衣</a>
                        <a href="">毛衣</a>
                        <a href="">背心</a>
                        <a href="">吊带</a>
                        <a href="">民族服装</a>
                    </dd>
                    <dt><a href="">男装</a></dt>
                    <dd>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">衬衫</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">背心</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">西装</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">POLO衫</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">马夹</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">皮衣</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">毛衣</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">针织衫</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">牛仔裤</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">外套</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">夹克</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">卫衣</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">风衣</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">民族风</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">原创设计</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">大码</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">情侣装</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">开衫</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">运动裤</a>
                        <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">工装裤</a>
                    </dd>
                </dl>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/index.html" class="active">首页</a>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">时尚搭配</a>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/channel.html">原创设计</a>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/channel.html">时尚代购</a>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/channel.html">民族风</a>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/information.html">时尚搭配</a>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/library.html">搭配知识</a>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">促销专区</a>
            </li>
            <li>
                <a href="http://demo.demohuo.top/modals/57/5750/demo/find_pwd.html#">其他</a>
            </li>
        </ul>
    </nav>

</header>
<script>
    $(document).ready(function(){
        //测试效果，程序对接如需变动重新编辑
        $(".switchNav li").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
        });
        $("#chanpin").click(function(){
            $(".inputWrap input[type='text']").attr("placeholder","输入产品关键词或货号");
        });
        $("#shangjia").click(function(){
            $(".inputWrap input[type='text']").attr("placeholder","输入商家店铺名");
        });
        $("#zixun").click(function(){
            $(".inputWrap input[type='text']").attr("placeholder","输入关键词查找文章内容");
        });
        $("#wenku").click(function(){
            $(".inputWrap input[type='text']").attr("placeholder","输入关键词查找文库内容");
        });
    });

</script>

<section class="wrap user_form">
    <div class="lt_img">
        <img src="/img/form_bg.png">
    </div>
    <div class="rt_form">
        <h2>找回密码</h2>
        <ul>
            <li class="user_icon">
                <input type="text" class="textbox" placeholder="手机号码" id="phone" onblur="txt5()">
                <span id="spanP"></span>
            </li>
            <span id="spanY"></span>
            <li class="link_li">
                <input type="button" value="获取手机验证码" class="sbmt_btn" id="btn" disabled="disabled">
            </li>
            <li class="user_cc">
                <input type="text" class="textbox" placeholder="手机校验码">
            </li>
            <li class="user_pwd">
                <input type="password" class="textbox" placeholder="设置新密码" id="password" onblur="txt1()">
                <span id="spanB"></span>
            </li>
            <li class="user_pwd">
                <input type="password" class="textbox" placeholder="确认新密码" id="ps" onblur="txt2()">
                <span id="spanC"></span>
            </li>
            <li class="link_li">
                <input type="button" value="找回密码" class="sbmt_btn">
            </li>
        </ul>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function(){
        var ordertime=20   //设置再次发送验证码等待时间
        var timeleft=ordertime
        var btn=$("#btn")
        var phone=$("#phone")
        var reg = /^1([38]\d|5[0-35-9]|7[3678])\d{8}$/;  //电话号码的正则匹配式

        phone.keyup(function(){
            if (reg.test(phone.val())){
                btn.removeAttr("disabled")  //当号码符合规则后发送验证码按钮可点击
            }
            else{
                btn.attr("disabled",true)
            }
        })

        //计时函数
        function timeCount(){
            timeleft-=1
            if (timeleft>0){
                btn.val(timeleft+" 秒后重发");
                setTimeout(timeCount,1000)
            }
            else {
                btn.val("重新发送");
                timeleft=ordertime   //重置等待时间
                btn.removeAttr("disabled");
            }
        }

        //事件处理函数
        btn.on("click",function(){
            $(this).attr("disabled",true); //防止多次点击
            //此处可添加 ajax请求 向后台发送 获取验证码请求
            timeCount(this);
            $.ajax({
                url:"/code/findSendCode",
                type:"post",
                data:{
                    account:$("#phone").val()
                },
                dataType:"json",
                success:function(result){
                    if(result.code==0){
                         alert(result.msg);
                    }else{
                         alert(result.msg);
                    }
                }
            })
        })

    })
</script>
<script type="text/javascript">
    //联系电话
    function txt5(){
        var ar = document.getElementById("phone").value;
        var reg = /^1([38]\d|5[0-35-9]|7[3678])\d{8}$/
        if(reg.test(ar)){
            document.getElementById("spanP").innerHTML = ""
            return true;
        }else{
            document.getElementById("spanP").innerHTML = "请输入正确的手机号码"
            return false;
        }
    }

    //密码
    function txt1(){
        ar = document.getElementById("password").value;
        var reg = /^[a-zA-Z0-9]{6,18}$/
        if(reg.test(ar)){
            document.getElementById("spanB").innerHTML = ""
            return true;
        }else{
            document.getElementById("spanB").innerHTML = "不能使用特殊字符或是空"
            return false;
        }
    }

    //确认密码
    function txt2(){
        var arr = document.getElementById("ps").value;
        if(arr==""){
            document.getElementById("spanC").innerHTML = "与设置的密码保持一致"
            return false;
        }else{
            if(arr==ar){
                document.getElementById("spanC").innerHTML = ""
                return true;
            }else{
                document.getElementById("spanC").innerHTML = "与设置的密码保持一致"
                return false;
            }
        }
    }
</script>
<!--footer-->
<footer>
    <!--help-->
    <ul class="wrap help">
        <li>
            <dl>
                <dt>消费者保障</dt>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">保障范围</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">退换货流程</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">服务中心</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">更多服务特色</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>新手上路</dt>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">保障范围</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">退换货流程</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">服务中心</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">更多服务特色</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>付款方式</dt>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">保障范围</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">退换货流程</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">服务中心</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">更多服务特色</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>服务保障</dt>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">保障范围</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">退换货流程</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">服务中心</a></dd>
                <dd><a href="http://demo.demohuo.top/modals/57/5750/demo/article_read.html">更多服务特色</a></dd>
            </dl>
        </li>
    </ul>
    <div class="wrap btmInfor">
        <p>© 2013 DeathGhost.cn 版权所有 网络文化经营许可证：浙网文[2013]***-027号 增值电信业务经营许可证：浙B2-200***24-1 信息网络传播视听节目许可证：1109***4号</p>
        <address>联系地址：北京市海淀区西三旗悦秀路金科教育 1810A 班</address>
    </div>
</footer>
</body>
</html>